{% extends 'base.html.twig' %}

        {% block stylesheets %}
            {# encore_entry_link_tags('app') #}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('/asset/css/style2.css') }}">
        {% endblock %}

{#<!doctype html>#}
{#<html lang="fr">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>HomePage</title>#}
{#</head>#}
{#<body>#}

{#</body>#}
{#</html>#}

{% block body %}
    <h1>HomePage</h1>
    {%  for prenom in prenoms %}
        <a href="{{ path('helloname',{ name:prenom}) }}">{{ prenom }}</a>
    {% endfor %}
    <h2>Your lucky nomber is {{ number }}</h2>
{% endblock %}